:root {
    /* Light mode */
    /* --bg: white; */
    /* --fg-left: #743ad5; */
    /* --fg-right: #d53a9d; */

    /* Dark mode */
    --bg: #343a40;
    --fg-left: #743ad5;
    --fg-right: #d53a9d;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--bg);
}

.box {
    /* padding: 10px; */
    /* background: linear-gradient(to left, var(--fg-right), var(--fg-left)); */
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}