:root {
    /* Light mode */
    /* --bg: white; */
    /* --fg-left: #743ad5; */
    /* --fg-right: #d53a9d; */

    /* Dark mode */
    --bg: #343a40;
    --fg-left: #743ad5;
    --fg-right: #d53a9d;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--bg);
}

#stage {
    position: relative;
    width: 80%;
    height: 80%;
    /* padding: 10px; */

    /* background: linear-gradient(to left, var(--fg-right), var(--fg-left)); */
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#app {
    width: 100%;
    height: 100%;
}

#playback {
    position: absolute;
    max-width: min(10vw, 10vh);
    min-width: .5rem;
    width: 2rem;
    height: auto;

    left: 50%;
    transform: translateX(-50%);
    bottom: 3%;

    opacity: .2;
    transition: opacity .5s;
 
    &[data-playing] #play, &:not([data-playing]) #pause {
        display: none;
    }

    .icon {
        width: 100%;
        height: auto;

        background: var(--bg);
        color: var(--fg-right);
        /* border: 10px solid var(--bg); */
        border-radius: 15%;
    }
}

@starting-style {
    #playback {
        opacity: .2;
    }
}

@media (hover: hover) {
    #playback:hover {
        opacity: 1;
    }
}

@media (prefers-reduced-motion) {
    #playback {
        transition: none;
    }
}
