html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #343a40;
}

.box {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);

    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}